rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.uid in ['DkBHsCzLK5a9KiX50g0pHJrEqGq2', 'A2ZV8vziNsXqZkyqHzAB266B9pP2'];
    }

    match /streamers/{streamerId} {
      allow read: if resource.data.approved == true || isAdmin();
      allow create: if request.resource.data.approved == false
        && request.resource.data.displayName is string
        && request.resource.data.twitchHandle is string
        && (!('team' in request.resource.data) || request.resource.data.team is string)
        && (!('bio' in request.resource.data) || request.resource.data.bio is string)
        && (!('avatarUrl' in request.resource.data) || request.resource.data.avatarUrl is string);
      allow update, delete: if isAdmin();
    }

    match /teams/{teamId} {
      allow read: if resource.data.approved == true || isAdmin();
      allow create: if
        request.resource.data.approved == false &&
        request.resource.data.teamName is string &&
        request.resource.data.teamTag is string &&
        request.resource.data.season is int &&
        request.resource.data.division is string &&
        request.resource.data.division in ['TPL-O', 'TPL-IM', 'TPL-I'];
      allow update, delete: if isAdmin();
    }

    match /news/{newsId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /leagueSeasons/{seasonId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /leagueSchedules/{docId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /publicStats/{docId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
