rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /streamers/{streamerId} {
      allow read: if resource.data.approved == true;
      allow create: if request.resource.data.approved == false
        && request.resource.data.displayName is string
        && request.resource.data.twitchHandle is string
        && (!('team' in request.resource.data) || request.resource.data.team is string)
        && (!('bio' in request.resource.data) || request.resource.data.bio is string)
        && (!('avatarUrl' in request.resource.data) || request.resource.data.avatarUrl is string);
      allow update, delete: if request.auth.uid in ['DkBHsCzLK5a9KiX50g0pHJrEqGq2', 'Cx5w8y1ySNaKFAbHmm2uw1ZPoDr1'];
    }

    match /teams/{teamId} {
      allow read: if resource.data.approved == true || request.auth != null;
      allow create: if
        request.resource.data.approved == false &&
        request.resource.data.teamName is string &&
        request.resource.data.teamTag is string &&
        request.resource.data.season is int &&
        request.resource.data.division is string &&
        request.resource.data.division in ['TPL-O', 'TPL-IM', 'TPL-I'];
      allow update, delete: if request.auth.uid in ['DkBHsCzLK5a9KiX50g0pHJrEqGq2', 'Cx5w8y1ySNaKFAbHmm2uw1ZPoDr1'];
    }
  }
}
